html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'sans-serif';
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  font-weight: 100;
}

a, a:visited {
  color: black;
}

.bookmarked {
  background-color: yellow;
}

#navigator {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0;
}

#navigator button, #navigator a {
  display: block;
  float: left;
  margin: 2px 0 0 2px;
  padding: 3px 10px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

#navigator button:hover, #navigator a:hover {
  background-color: #ddd;
}

#content {
  width: 800px;
  margin: 0px auto;
  text-align: center;
}

h1.logo {
  font-size: 80px;
}

h1.title {
  font-size: 50px;
  margin: 200px 0 100px;
}

p {
  font-size: 30px;
  margin: 100px 0;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  #content {
    padding-top: 100px;
    width: 100%;
  }
  h1.logo {
    font-size: 50px;
  }
  #navigator button, #navigator a {
    width: 100%;
    float: none;
    margin: 0px;
    border: none;
    border-radius: initial;
    border-bottom: 1px solid black;
    text-align: center;
  }
}
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  #content {
    padding-top: 100px;
    width: 100%;
  }
  h1.logo {
    font-size: 50px;
  }
  #navigator button, #navigator a {
    width: 100%;
    float: none;
    margin: 0px;
    border: none;
    border-radius: initial;
    border-bottom: 1px solid black;
    text-align: center;
  }
}

pre, pre code {
  font-size: 25px;
}
